@import url(./components/cards/cards.css);
*{
  margin: 0;

}

.container{
  height:100vh;
  background-image: url(./img/wallpaper.jpg);
  background-size:fill;
  background-attachment: fixed;
}
.cont-titel-principal {
  background-color: rgba(49, 121, 216, 0.521);
  margin: 50px auto;
  display: flex;
  border-radius: 10px;
  width: 40%;
  height:250px;
  justify-content: center;
  align-items: center;
}
.cont-titel-principal h1{
 color: #fff;
 display: block;
 padding:10px;
 margin:20px;
 text-align: center;
}
.cont-titel-principal p {
  display: block;
  width: 70%;
  margin:auto;
  text-align: center;
  color:rgb(255, 255, 255);
}
.texte{
  height:100vh;
  background-image: url(./img/flat.jpg);
  background-size:fill;
  background-attachment: fixed;
}